<p>
  O objetivo do <a href="{{site.swc_site}}">Software Carpentry</a>
  e auxiliar pesquisadores a executar suas tarefas
  em menos tempo e com menos esforço
  pelo ensino de noções básicas de computação.
  Esse workshop prático cobre conceitos e ferramentas,
  incluindo o design de um programa, controle de versão, gerenciamento de dados,
  e automação de tarefas.
  Os Participantes são encorajados a se ajudarem
  e a aplicar o que aprenderam em seus problemas de pesquisa.
</p>
<p align="center">
  <em>
    Para mais informações chequem nosso paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
