<div class="row">
  <div class="col-md-6">
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr> <td>18:30</td>  <td>Automatizando tarefas com o shell Unix</td> </tr>
      <tr> <td>19:30</td>  <td>Coffee</td> </tr>
      <tr> <td>20:00</td>  <td>Revisão</td> </tr>
      <tr> <td>20:30</td>  <td>Fim</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr> <td>18:30</td>  <td>Automatizando tarefas com o shell Unix</td> </tr>
      <tr> <td>19:30</td>  <td>Coffee</td> </tr>
      <tr> <td>20:00</td>  <td>Controle de versão com o Git</td> </tr>
      <tr> <td>20:30</td>  <td>Fim</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 3</h3>
    <table class="table table-striped">
      <tr> <td>18:30</td>  <td>Controle de versão com o Git</td> </tr>
      <tr> <td>19:30</td>  <td>Coffee</td> </tr>
      <tr> <td>20:00</td>  <td>Construindo programas com Python</td> </tr>
      <tr> <td>20:30</td>  <td>Fim</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 4</h3>
    <table class="table table-striped">
      <tr> <td>18:30</td>  <td>Construindo programas com Python</td> </tr>
      <tr> <td>19:30</td>  <td>Coffee</td> </tr>
      <tr> <td>20:00</td>  <td>Revisão</td> </tr>
      <tr> <td>20:30</td>  <td>Fim</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 5</h3>
    <table class="table table-striped">
      <tr> <td>18:30</td>  <td>Construindo programas com Python</td> </tr>
      <tr> <td>19:30</td>  <td>Coffee</td> </tr>
      <tr> <td>20:00</td>  <td>Revisão</td> </tr>
      <tr> <td>20:30</td>  <td>Fim</td> </tr>
    </table>
  </div>
</div>
