<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">O Shell Unix</h3>
    <ul>
      <li>Arquivos e diretórios</li>
      <li>Histórico e completando com o tab</li>
      <li>Pipes e redirecionamento</li>
      <li>Looping em arquivos</li>
      <li>Criando e executando shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Referência...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programando em Python</h3>
    <ul>
      <li>Usando bibliotexas</li>
      <li>Manipulando arrays</li>
      <li>Lendo e plotando dados</li>
      <li>Criando e usando funções</li>
      <li>Loops e condicionais</li>
      <li>Programação defensiva</li>
      <li>Usando a linha de comando do Python</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Referências...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Controle de versão com Git</h3>
    <ul>
      <li>Criando repositórios</li>
      <li>Gravando mudanças nos qrquivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizando mudanças: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando na web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li>Licenças abertas</li>
      <li>Onde manter seu trabalho e porquê.</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Referências...</a></li>
    </ul>
  </div>
  <!-- <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div> -->
    <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>-->
</div>
